.websites{
    width:50%;
    height: auto;
    float: left;
    padding: 0;
    position: relative;
    background-color: black;
}

.websites:hover img {
    opacity:0.3;
}

.websites img {
    padding: 0;
    width: 100%;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.description {
    font-size:30px;
    padding: 20px;
    position: absolute;
    color: white;
    left: 0;
    top: 25%;
    right: 0;
    bottom: 0;
    font-size: 50px;
    text-align: center;
    opacity: 0;
    font-family: "Roboto";
}

.websites:hover .description{
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .websites{
        width:100%;
    }
}