.code{
    text-align:left;
    width:70%;
    margin: auto;
}
.codePanel {
    background-color: black;
    border: solid green;
    border-width: 10px 0px 0px 0px;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}
.console-output{
    background-color: white;
    border: 5px solid gray;
    padding: 5px;
    height: 80px;
    padding-left: 10px;
    color:black;
}
.answer{
    font-family: 'Monaco', 'Courier New';
    font-size: 13px;
}
@media only screen and (max-width: 600px) {
    .codePanel{
        background-color: black;
        margin: auto;
        
        border: solid green;
        border-width: 10px 0px 0px 0px;
        padding: 10px;
        color: white;
        border-radius: 15px 15px 0px 0px;

    }
    .code{
        width: 100%;
    }
}